<tr>
  <td><%= animal.id %></td>
  <td>
    <%= link_to animal.name, animal_path(animal) %>
  </td>
  <td><%= animal.age %></td>
  <td><%= animal.born %></td>
  <td><%= animal.comments %></td>
  <td><%= button_to "Delete", animal_path(animal), method: :delete, class:"btn btn-danger"%></td>
  <td><%= link_to "Edit", edit_animal_path(animal), class:"btn btn-primary" %></td>
</tr>